<section class="disquss">
    <div id="disqus_thread"><iframe id="dsq-app8809" name="dsq-app8809" allowtransparency="true" frameborder="0"
            scrolling="no" tabindex="0" title="Disqus" width="100%"
            src="https://disqus.com/embed/comments/?base=default&amp;f=da7&amp;t_i=ghost-5f6678a1400a3f04c9d90e48&amp;t_u=https%3A%2F%2Fdefensaadventista.org%2Fda-libertad-de-expresion-y-la-tecnologia%2F&amp;t_d=DA%2C%20Libertad%20de%20expresi%C3%B3n%20y%20la%20Tecnolog%C3%ADa&amp;t_t=DA%2C%20Libertad%20de%20expresi%C3%B3n%20y%20la%20Tecnolog%C3%ADa&amp;s_o=default#version=d716a1690aa4a08a02a6dcd8b6774c08"
            style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 666px !important;"
            horizontalscrolling="no" verticalscrolling="no"></iframe></div>
    <script type="text/javascript">
        var disqus_shortname = 'da7'; // required: replace example with your forum shortname
        var disqus_identifier = 'ghost-5f6678a1400a3f04c9d90e48';

        // DON'T EDIT BELOW THIS LINE
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments
            powered by Disqus.</a></noscript>
</section>