<footer class="footer">
    <div class="row row--full">
        <div class="column large-12 footer__section">
            <ul class="list-bare footer__nav social-icons text-center">
                <li>
                    <a href="https://www.twitter.com/da_1844/" target="_blank" class="block">
                        <div class="icon icon--ei-sc-twitter icon--m "><svg class="icon__cnt">
                                <use xlink:href="#ei-sc-twitter-icon"></use>
                            </svg></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/DefensaAdventista/" target="_blank" class="block">
                        <div class="icon icon--ei-sc-facebook icon--m "><svg class="icon__cnt">
                                <use xlink:href="#ei-sc-facebook-icon"></use>
                            </svg></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/defensaadventista" target="_blank">
                        <div class="icon icon--ei-sc-youtube icon--m "><svg class="icon__cnt">
                                <use xlink:href="#ei-sc-youtube-icon"></use>
                            </svg></div>
                    </a>
                </li> <br>
                <li>
                    <a href="https://itunes.apple.com/us/app/defensa-adventista/id980684442?mt=8">
                        <img src="https://defensaadventista.org//content/images/2018/04/App_Store.png" alt="App Store"
                            style="width:177px;height:59px;border:0;"></a>

                </li>

                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.bereshitlab.defensaadventista">
                        <img src="https://defensaadventista.org/content/images/2018/04/Play_Store.png" alt="Play Store"
                            style="width:177px;height:59px;border:0;"></a>

                </li>

            </ul>
        </div>

        <div class="column large-12 footer__section">
            <div class="text-center">
                <div class="font-tiny">



                    <h2>
                        Defensa Adventista es una herramienta digital que ofrece diversos recursos para la ayuda en
                        suestudio bíblico.
                    </h2>
                    <br>


                    DA © 2008-2020 | Creada con <div class="icon icon--ei-heart icon--s "><svg class="icon__cnt">
                            <use xlink:href="#ei-heart-icon"></use>
                        </svg></div> | <a href="https://defensaadventista.org/politica-de-uso-y-privacidad/"
                        style="text-decoration: none"> <b>Política de Uso y Privacidad</b></a> | <a
                        href="https://defensaadventista.org/nosotros/" style="text-decoration: none">
                        <b>Nosotros</b></a> | <a href="http://bereshitlab.com/" style="text-decoration: none">Powered By
                        Bereshit Lab</a>

                </div>
            </div>
        </div>

    </div>
</footer>
{{ partial "js.html" . }}