<header class="site-header">

    <div class="row row--full">

        <div class="column small-8 medium-4 large-3">

            <a href="https://juegos-cristianos.com">
                <img style="float:left; margin:0px;" alt="Logo"
                    src="https://defensaadventista.org/content/images/2018/05/DA_Topic.png">
            </a>

        </div>

        <label class="off-canvas-toggle">
            <div class="icon icon--ei-navicon icon--s "><svg class="icon__cnt">
                    <use xlink:href="#ei-navicon-icon"></use>
                </svg></div>
        </label>
        <div class="off-canvas-content">
            <div class="column medium-8 large-9">
                <nav class="navigation navigation--header">
                    <ul class="list-bare">
                        <li class="nav-inicio  nav-current " role="presentation"><a
                                href="{{ .Site.BaseURL }}">Inicio</a></li>
                        <li class="nav-arqueologia " role="presentation"><a
                                href="/tags/arqueologia-biblica/">Arqueología</a></li>
                        <li class="nav-egw " role="presentation"><a href="/tags/elena-g-de-white/">EGW</a></li>
                        <li class="nav-som " role="presentation"><a href="/tags/revista-sefer-olam/">SOM</a></li>
                        <li class="nav-revista " role="presentation"><a href="/som/">Revista</a></li>
                        <li class="nav-apps " role="presentation"><a href="/aplicaciones-adventistas/">Apps</a></li>
                        <li class="nav-juegos " role="presentation"><a href="https://aprendiendojugando.com">Juegos</a>
                        </li>
                        <li class="nav-foro " role="presentation"><a href="https://www.foroadventista.org">Foro</a></li>
                        <li class="nav-donar " role="presentation"><a
                                href="/donaciones/">Donar ❤️</a></li>

                        <li>
                            <a class="toggle-search-button" style="cursor: pointer;">
                                <div class="icon icon--ei-search icon--s toggle-search-button__icon"><svg
                                        class="icon__cnt">
                                        <use xlink:href="#ei-search-icon"></use>
                                    </svg></div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>