<div id="search-form" class="search-form-container">

  <form class="search-form">
    <fieldset class="search-form__fieldset">
      <div class="row">
        <div class="column column--center large-8">
          <input class="search-form__field" id="searchInput" placeholder="Escribe la palabra">
        </div>
      </div>
    </fieldset>
  </form>

  <div class="row">
    <div class="column column--center large-8">
      <p id="searchNotFound">Not Found</p>
      <ul id="searchResults" class="search-results"></ul>
    </div>
  </div>

  <div class="icon icon--ei-close icon--s close-search-button search-form-container__close"><svg class="icon__cnt">
      <use xlink:href="#ei-close-icon"></use>
    </svg></div>
</div>